* {
    font-family: Arial, sans-serif;
    /* font-family:  inter_regular, fallback-inter_regular; */
}

.stickynav {
    width: 100%;
    height: 67px;
    display: flex;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;


}

.main {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    overflow-y: hidden;

}

.search-icon {
    height: 1rem;
    width: 1rem;
}

.search-bar {
    width: 3rem;
}

.flipkart-icon-sec {
    width: 15%;

}

.flipkart-icon {
    margin-left: 1.8rem;
    margin-top: -4px;
}

.search-sec {
    display: flex;
    width: 40%;
    margin-left: 1.9rem;
    margin-top: -2px;
}

.login-sec {
    width: 40%;
    display: flex;

}

.search-bar {
    padding: 0.5rem;
    width: 492px;
    height: 2.5rem;
    border-radius: 0.6rem;
    border-color: transparent;
    background-color: rgb(235, 241, 255);
}

.search-in {
    width: 80%;
    border: 0;
    background-color: rgb(235, 241, 255);
    font-size: 1.1rem;
    margin-top: -2px;
    margin-left: 0.25rem;
}

.search-in-icon {
    height: 1.2rem;
    opacity: 0.6;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}

.login-sec img {
    margin-top: 0.25rem;
    height: 1.2rem;
    width: 1.2rem;

}

.acc-sec {
    display: flex;
}

.acc-sec p {
    letter-spacing: 0.5px;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}

.acc-sec i {
    margin-left: 0.65rem;
    margin-top: 0.45rem;
    font-size: 0.75rem;
}

.shop-img {
    margin-left: 1rem;
}

.cart-img {
    margin-left: 1rem;
}

.acc-sec-list {
    width: 200px;
    padding: 0.25rem;
    height: 350px;
    display: none;
    border-radius: 0.25rem;
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 8px 6px #cccccc;
    /* box-shadow: 12px 12px 2px 2px rgb(192, 192, 198);  */

}

.acc-sec-dd {
    display: inline-block;
}

.acc-sec:hover .acc-sec-list {
    display: flex;
    flex-direction: column;
}

.acc-sec-list img {
    margin-right: 1rem;
    margin-top: -2px;
    scale: 0.9;
    /* margin-left: 0.7rem; */
}

.acc-sec-list a {
    text-decoration: none;
    color: black;
    margin-left: 0.7rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.sell-reg {
    display: flex;
    margin-left: 2rem;
}

.sell-reg p {

    letter-spacing: 0.5px;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}

.cart {
    display: flex;
    margin-left: 2rem;
}

.cart p {
    letter-spacing: 0.5px;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
}

.more-opt {
    margin-left: 3rem;
    opacity: 0.7;
    scale: 0.9;
}

.categories {
    margin-top: -0.5rem;
    display: flex;
    width: 100%;
    margin-left: 0.15rem;
    /* margin-right: 1rem; */
    background-color: #fff;

}

.main-content {
    padding: 1rem;
    width: 100%;
    background-color: rgb(239, 239, 247);
    overflow-x: hidden;
}

.cat-card p {
    text-align: center;
    margin-left: -10px;
    margin-top: 0.4rem;

}

.cat-card i {
    margin-left: 0.5rem;
    margin-top: 1rem;

}

.cat-card img {
    height: 4rem;
    width: 4rem;

}

.cat-card {
    height: 9.5rem;
    width: 7.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 0.85rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.carousal {
    margin-left: 0.15rem;
    margin-top: 1rem;
}

.main {
    overflow: auto;
}

.cards {
    height: 262px;
    min-width: 200px;
    border-radius: 0.25rem;
    border-color: #e2dcdc;
    border-style: solid;
    border-width: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.cards img {
    height: 9.2rem;
    max-width: 100%;
    margin-top: 1rem;
}

.card-container {
    background-color: white;
    display: flex;
    width: 100%;
    padding: 1rem 0rem 1rem 0.2rem;

}

.prod-info {
    line-height: 0;
    margin-top: -0.4rem;
    font-weight: 600;
}

.prod-name {
    margin-top: 2.25rem;
    font-weight: 500;
    opacity: 0.7;

}

.card-container {
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.head-container1 {
    margin-top: 1.5rem;
    height: 310px;
    background-color: white;
    margin-bottom: 2rem;

}

.head-container1 h2 {
    font-weight: 700;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.head-container2 h2 {
    font-weight: 700;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.head-container3 h2 {
    font-weight: 700;
    margin-left: 1rem;
    font-size: 1.25rem;
}

.head-container2 {
    margin-top: 5rem;
    background-color: rgb(255, 255, 255);
}

.head-container3 {
    margin-top: 1.5rem;
    background-color: rgb(255, 255, 255);
}

.hoverimg img:hover {
    scale: 1.1
}

.boxy-card img {
    max-width: 100%;
    max-height: 8rem; */
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.boxy-card {
    display: flex;
    flex-direction: column;
    width: 11rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    /* margin: 0.6rem; */
    margin-left: 1.2rem;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #d2d2d2;
    padding: 0.5rem;
}

.box {
    display: flex;
    width: 25.5rem;
    height: 30rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.box-container>img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    padding: 0.25rem;
}

.boxy-bar {
    display: flex;
    width: 100%;
    background-color: transparent;
    margin-top: 2rem;
}

.box-container {
    background-color: rgb(255, 255, 255);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 2rem;


}

.main::-webkit-scrollbar {
    display: none;
}

.box-container span {
    font-weight: 600;
    margin-left: 1.25rem;
    font-size: 1.3rem;
    padding-top: 1.8rem;
}

.box-container>img {
    margin-left: 13rem;
    margin-top: -0.25rem;
    background-color: rgb(49, 62, 205);

}

.main-content {
    margin-top: 70px;
}
.box-name{
    margin-left: 0.3rem;
    font-weight: 200;
}
.box-info{
    margin-left: 0.3rem;
    font-weight: 700;
    color: rgb(66, 144, 50);
    font-size: 1.1rem;
}
.banner:hover{
    scale:1;
}
.banner{
    /* margin-right: 20rem; */
padding: 1rem 5rem 1rem 1rem;
}
.info1 h1{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.8;
    padding-left: 2rem;
    padding-right: 2rem;

}
.info1 p{
    color: #9c9b9b;
    font-size: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.footer{
width: 100%;

 }
.footermain{
    display: flex;
    height: 260px;
    width: 100% ;
}   

.footer-left{
    display: flex;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
   max-width:50%;
    /* border-left: ;
    border-style: none solid none none;
    border-color: #8c8c8c;
    border-width: 1px; */
   /* border-right:  0.1px solid #595858; */
}
.footer-right
{
    display: flex;
    padding-top: 2.5rem;
   padding-right: 0.5rem;
   
    width:50%;
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    opacity: 0.9;


}
.footer-right h1{
    font-size: 1rem;
}
.footerdown
{   padding-left: 2rem;
    padding-right: 2rem;
    /* background-color:#1c2a41; */
    background-color: #212121;
    color: white;
    font-weight: 400;
    width: 1920px;
}
.footerdown h1{
    color: #8c8c8c;
    font-size: 0.7rem;

}
.footerdown a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    opacity: 0.9;
    font-weight: 600;
}
/* .footerdown p{
    font
} */
.ftleft-card{

    display: flex;
    flex-direction: column;
    margin-right:2rem;


}
.ftright-card{
    margin-right: 4rem;
}
.footerbottom{
    display: flex;
    padding-top: 2rem;
    border-top:0.1px solid #5f5d5d;
    height: 5rem;
    width: 100%;
    margin-left: -30px;

}
.bot-sel{
    display: flex;
    margin-left: 2.5rem;
}
.bot-adv
{
    display: flex;
    margin-left: 2.5rem;
}
.bot-gc{
    display: flex;
    margin-left: 2.75rem;
}
.bot-help{ 
    display: flex;
    margin-left: 2.75rem;}
    .bot-info{
        margin-left: 4.5rem;
    }
    .footerbottom img{
        /* margin-top: -px; */
        height: 1rem;
        width: 1rem;
    }
    .footerbottom p{
        font-size: 0.8rem;
        margin-left: 0.5rem;;
    }
    .bot-img{
        width:1;
        height:100%;
        margin-left: 6rem;
    }
    .bot-img img{
        width: 100%;
        scale: 1.15;
        /* margin-left: 1rem; */
        margin-top: -12px;

    }
    .box-name{
        margin-top: 0.5rem;
    }
    img{
        cursor: pointer;
    }